%h1 Listing stadia

%table
  %tr
    %th Name
    %th Capacity
    %th Roof
    %th
    %th
    %th

  - @stadia.each do |stadium|
    %tr
      %td= stadium.name
      %td= stadium.capacity
      %td= stadium.roof
      %td= link_to 'Show', stadium
      %td= link_to 'Edit', edit_stadium_path(stadium)
      %td= link_to 'Destroy', stadium, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Stadium', new_stadium_path
