%h1 Listing teams

%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tr
    %th Name
    %th Balance
    %th User
    %th DP
    %th OP
    %th
    %th
    %th

  - @teams.each do |team|
    %tr
      %td= team.name
      %td= team.balance
      %td= team.user.email
      %td= team.tactic.defensive_power
      %td= team.tactic.offensive_power
      %td= link_to 'Show', team
      %td= link_to 'Edit', edit_team_path(team)
      %td= link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Team', new_team_path
