.page-header
  %h1
    %i.glyphicon.glyphicon-user
    Matches
%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tr
    %th Date
    %th Home
    %th Home score
    %th Away score
    %th Away
    %th See more

  - @matches.each do |match|
    %tr
      %td= match.date
      %td= match.home
      %td= match.home_score
      %td= match.away_score
      %td= match.away
      %td