.page-header
  %h1
    %i.glyphicon.glyphicon-search
    Matches
%table.table.table-bordered.table-condensed
  %tr
    %th Date
    %th Home
    %th Home score
    %th Away score
    %th Away
    %th

  - @matches.each do |match|
    %tr
      %td= match.date
      -if match.home == @team
        %td.my-team= link_to match.home.name, match.home
      -else
        %td= link_to match.home.name, match.home
      %td= match.home_score
      %td= match.away_score
      -if match.away == @team
        %td.my-team= link_to match.away.name, match.away
      -else
        %td= link_to match.away.name, match.away
      %td= link_to 'See more', show_match_path(match)