.page-header
  %h1
    %i.glyphicon.glyphicon-user
    Players
%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tr
    %th Name
    %th Birthdate
    %th Age
    %th Position
    %th Tactic
    %th Pause
    %th Salary
    %th Goals/assists
    %th Yellow/red cards

  - @team.get_players.each do |player|
    %tr
      %td= link_to player.full_name, player
      %td= player.birthdate
      %td= player.current_age
      %td= player.position.name
      %td
        -if @team.tactic.include? player
          %i.glyphicon.glyphicon-ok
      %td
        -if player.pause
          %i.glyphicon.glyphicon-ok
      %td= player.salary
      %td
        = player.goals
        |
        = player.assists
      %td
        = player.yellow_cards
        |
        = player.red_cards