%p#notice= notice

%p
  =image_tag @team.logo

%p
  %b Change logo
  = form_for @team, :url => team_path(@team), :method => :patch do |f|
    - if @team.errors.any?
      #error_explanation
        %h2= "#{pluralize(@team.errors.count, "error")} prohibited this logo from being saved:"
        %ul
          - @team.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.file_field :logo
    .actions
      = f.submit 'Upload'

%h1
  = @team.name

%p
  %b
    %i.glyphicon.glyphicon-usd
    Balance:
    = @team.balance

%p
  %i.glyphicon.glyphicon-home
  %b Stadium:
  =@team.stadium.name
  %b Capacity:
  =@team.stadium.capacity
  %b Roof:
  =@team.stadium.roof

%p
  %i.glyphicon.glyphicon-user
  %b Players
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tr
      %th First name
      %th Last name
      %th Birthdate
      %th Age
      %th Position
      %th Salary
      %th

    - @team.players.each do |player|
      %tr
        %td= player.first_name
        %td= player.last_name
        %td= player.birthdate
        %td= player.current_age
        %td= player.position.name
        %td= player.salary
        %td= link_to 'Show', player


= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
