.row
  .col-md-3
    %p= image_tag @team.logo_path, :id => 'team-logo'
  .col-md-9.page-header
    %h1
      = @team.name
      .small= @team.user

.panel.panel-primary
  .panel-heading
    Overview
  .panel-body
    %h4
      %i.glyphicon.glyphicon-usd
      %b Balance:
      = @team.balance
    %h4
      %i.glyphicon.glyphicon-heart
      %b Reputation:
      = @team.reputation
    %h4
      %i.glyphicon.glyphicon-home
      %b Stadium:
      =link_to @team.stadium.name, @team.stadium

.panel.panel-primary
  .panel-heading
    Players
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tr
      %th Name
      %th Birthdate
      %th Age
      %th Position
      %th Salary
      %th Goals
      %th Assists
      %th Yellow cards
      %th Double yellow cards
      %th Red cards
      %th Injuries

    - @team.players.each do |player|
      %tr
        %td= link_to player.full_name, player
        %td= player.birthdate
        %td= player.current_age
        %td= player.position.name
        %td= player.salary
        %td= MatchEvent.where(:event_type => "goal", :first_player => player).count
        %td= MatchEvent.where(:event_type => "goal", :second_player => player).count
        %td= MatchEvent.where(:event_type => "yellow card", :first_player => player).count
        %td= MatchEvent.where(:event_type => "double yellow card", :first_player => player).count
        %td= MatchEvent.where(:event_type => "red card", :first_player => player).count
        %td= MatchEvent.where(:event_type => "injury", :first_player => player).count

.panel.panel-primary
  .panel-heading
    Last matches
  -if @team.last_matches
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      - @team.last_matches.each do |match|
        %tr
          %td= match.bold_name @team
          %td= link_to 'See more', show_match_path(match)