.row
  .col-md-3
    %p= image_tag @team.logo_path, :id => 'team-logo'
  .col-md-9.page-header
    %h1
      = @team.name
      .small= @team.user

%p
  %i.glyphicon.glyphicon-home
  %b Stadium:
  =@team.stadium.name
  %b Capacity:
  =@team.stadium.capacity
  %b Roof:
  =@team.stadium.roof

%p
  %i.glyphicon.glyphicon-user
  %b Players
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tr
      %th Name
      %th Birthdate
      %th Age
      %th Position
      %th Salary
      %th Goals
      %th Assists
      %th Yellow cards
      %th Double yellow cards
      %th Red cards
      %th Injuries

    - @team.players.each do |player|
      %tr
        %td= link_to player.full_name, player
        %td= player.birthdate
        %td= player.current_age
        %td= player.position.name
        %td= player.salary
        %td= MatchEvent.where(:event_type => "goal", :first_player => player).count
        %td= MatchEvent.where(:event_type => "goal", :second_player => player).count
        %td= MatchEvent.where(:event_type => "yellow card", :first_player => player).count
        %td= MatchEvent.where(:event_type => "double yellow card", :first_player => player).count
        %td= MatchEvent.where(:event_type => "red card", :first_player => player).count
        %td= MatchEvent.where(:event_type => "injury", :first_player => player).count