%p#notice= notice

%p
  -if @team.logo.present?
    =image_tag @team.logo
  -else
    =image_tag @team.logo.default_url

%p
  %b Change logo
  = form_for @team, :url => team_path(@team), :method => :patch do |f|
    - if @team.errors.any?
      #error_explanation
        %h2= "#{pluralize(@team.errors.count, "error")} prohibited this logo from being saved:"
        %ul
          - @team.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.file_field :logo
    .actions
      = f.submit 'Upload'

%h1
  = @team.name

-if @team.user == current_user
  %p
    %i.glyphicon.glyphicon-usd
    %b Balance:
    = @team.balance

%p
  %i.glyphicon.glyphicon-home
  %b Stadium:
  =@team.stadium.name
  %b Capacity:
  =@team.stadium.capacity
  %b Roof:
  =@team.stadium.roof

%p
  %i.glyphicon.glyphicon-user
  %b Players
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tr
      %th Name
      %th Birthdate
      %th Age
      %th Position
      %th Position power
      %th Tactic
      %th Salary

    - @team.players.each do |player|
      %tr
        %td= link_to player.full_name, player
        %td= player.birthdate
        %td= player.current_age
        %td= player.position.name
        %td= player.position_power
        %td
          -if @team.tactic.include? player
            %i.glyphicon.glyphicon-ok
        %td= player.salary

-if @team.user == current_user
  %p
    %i.glyphicon.glyphicon-fullscreen
    %b
      Tactic:
      .pitch_background
        = form_for @team.tactic, :url => tactic_path(@team.tactic), :method => :patch do |f|
          .row.big-vertical-padding
            .col-md-3.col-md-offset-3
              = f.collection_select(:s1, @team.players, :id, :full_name)
            .col-md-6
              = f.collection_select(:s2, @team.players, :id, :full_name)
          .row.big-vertical-padding
            .col-md-3
              = f.collection_select(:am1, @team.players, :id, :full_name)
            .col-md-3.col-md-offset-6
              = f.collection_select(:am2, @team.players, :id, :full_name)
          .row.big-vertical-padding
            .col-md-3.col-md-offset-3
              = f.collection_select(:dm1, @team.players, :id, :full_name)
            .col-md-6
              = f.collection_select(:dm2, @team.players, :id, :full_name)
          .row.big-vertical-padding
            .col-md-3
              = f.collection_select(:d1, @team.players, :id, :full_name)
            .col-md-3
              = f.collection_select(:d2, @team.players, :id, :full_name)
            .col-md-3
              = f.collection_select(:d3, @team.players, :id, :full_name)
            .col-md-3
              = f.collection_select(:d4, @team.players, :id, :full_name)
          .row.big-vertical-padding
            .col-md-6.col-md-offset-5
              = f.collection_select(:gk, @team.players, :id, :full_name)
          .actions
            = f.submit 'Save'


= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
