%p#notice= notice

%p
  %b Gk:
  = @tactic.gk
%p
  %b D1:
  = @tactic.d1
%p
  %b D2:
  = @tactic.d2
%p
  %b D3:
  = @tactic.d3
%p
  %b D4:
  = @tactic.d4
%p
  %b Dm1:
  = @tactic.dm1
%p
  %b Dm2:
  = @tactic.dm2
%p
  %b Am1:
  = @tactic.am1
%p
  %b Am2:
  = @tactic.am2
%p
  %b S1:
  = @tactic.s1
%p
  %b S2:
  = @tactic.s2

= link_to 'Edit', edit_tactic_path(@tactic)
\|
= link_to 'Back', tactics_path
