.page-header
  %h1 Admin panel

%h3 Events descriptions:
%ul.list-group
  %li.list-group-item= link_to 'Goal', admin_goal_descriptions_path
  %li.list-group-item= link_to 'Solo goal', admin_solo_goal_descriptions_path
  %li.list-group-item= link_to 'Yellow card', admin_yellow_card_descriptions_path
  %li.list-group-item= link_to 'Double yellow card', admin_double_yellow_card_descriptions_path
  %li.list-group-item= link_to 'Red card', admin_red_card_descriptions_path
  %li.list-group-item= link_to 'Injury', admin_injury_descriptions_path