%h1 Listing goal_descriptions

%table
  %tr
    %th Description
    %th
    %th
    %th

  - @goal_descriptions.each do |goal_description|
    %tr
      %td= goal_description.description
      %td= link_to 'Show', goal_description
      %td= link_to 'Edit', edit_goal_description_path(goal_description)
      %td= link_to 'Destroy', goal_description, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Goal description', new_goal_description_path
