<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Play Ball', root_path, :class => 'navbar-brand' %>
    </div>
    <div>
      <% if current_user %>
      <ul class="nav navbar-nav">
        <li id="my-team-tab">
          <%= link_to 'My team', my_team_path %>
        </li>
        <li id="teams-tab">
          <%= link_to 'Teams', teams_path %>
        </li>
        <li id="play-match-tab">
          <%= link_to 'Play match', play_match_path %>
        </li>
        <% if current_user.admin? %>
          <li id="admin-tab">
            <%= link_to 'Admin panel', admin_path %>
          </li>
        <% end %>
      </ul>
      <% end %>

      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to destroy_user_session_path, :method => 'delete' do %>
              <i class="glyphicon glyphicon-log-out"></i> Sign out
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>