<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Manager', root_path, :class => "navbar-brand" %>
    </div>
    <div>
      <% if current_user %>
      <ul class="nav navbar-nav">
        <li id="my-team-tab">
          <%= link_to 'My team', team_path(current_user.team) %>
        </li>
        <li id="teams-tab">
          <%= link_to 'Teams', teams_path %>
        </li>
        <li id="new-match-tab">
          <%= link_to 'New match', new_match_path %>
        </li>
      </ul>
      <% end %>

      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to destroy_user_session_path, :method => "delete" do %>
              <i class="glyphicon glyphicon-log-out"></i> Sign out
            <% end %>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to new_user_session_path  do%>
              <i class="glyphicon glyphicon-log-in"></i> Sign in
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>