= form_for @injury do |f|
  - if @injury.errors.any?
    #error_explanation
      %h2= "#{pluralize(@injury.errors.count, "error")} prohibited this injury from being saved:"
      %ul
        - @injury.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
