= form_for @injury_description do |f|
  - if @injury_description.errors.any?
    #error_explanation
      %h2= "#{pluralize(@injury_description.errors.count, "error")} prohibited this injury_description from being saved:"
      %ul
        - @injury_description.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
