%h1 Listing red_card_descriptions

%table
  %tr
    %th Description
    %th
    %th
    %th

  - @red_card_descriptions.each do |red_card_description|
    %tr
      %td= red_card_description.description
      %td= link_to 'Show', [:admin, red_card_description]
      %td= link_to 'Edit', edit_admin_red_card_description_path(red_card_description)
      %td= link_to 'Destroy', [:admin, red_card_description], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Red card description', new_admin_red_card_description_path
