%h1 Listing double_yellow_card_descriptions

%table
  %tr
    %th Description
    %th
    %th
    %th

  - @double_yellow_card_descriptions.each do |double_yellow_card_description|
    %tr
      %td= double_yellow_card_description.description
      %td= link_to 'Show', [:admin, double_yellow_card_description]
      %td= link_to 'Edit', edit_admin_double_yellow_card_description_path(double_yellow_card_description)
      %td= link_to 'Destroy', [:admin, double_yellow_card_description], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Double yellow card description', new_admin_double_yellow_card_description_path
