= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :birthdate
    = f.date_select :birthdate
  .field
    = f.label :position
    = f.text_field :position
  .field
    = f.label :salary
    = f.number_field :salary
  .field
    = f.label :reflex
    = f.number_field :reflex
  .field
    = f.label :handling
    = f.number_field :handling
  .field
    = f.label :discipline
    = f.number_field :discipline
  .field
    = f.label :tackling
    = f.number_field :tackling
  .field
    = f.label :work_rate
    = f.number_field :work_rate
  .field
    = f.label :positioning
    = f.number_field :positioning
  .field
    = f.label :creativity
    = f.number_field :creativity
  .field
    = f.label :technique
    = f.number_field :technique
  .field
    = f.label :instinct
    = f.number_field :instinct
  .field
    = f.label :shots
    = f.number_field :shots
  .field
    = f.label :condition
    = f.number_field :condition
  .actions
    = f.submit 'Save'
