%h1 Listing players

%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tr
    %th First name
    %th Last name
    %th Birthdate
    %th Age
    %th Position
    %th Salary
    %th Reflex
    %th Handling
    %th Discipline
    %th Tackling
    %th Work rate
    %th Positioning
    %th Creativity
    %th Technique
    %th Instinct
    %th Shots
    %th Condition
    %th
    %th
    %th

  - @players.each do |player|
    %tr
      %td= player.first_name
      %td= player.last_name
      %td= player.birthdate
      %td= ((Date.today - player.birthdate)/365.25).to_i
      %td= player.position
      %td= player.salary
      %td= player.reflex
      %td= player.handling
      %td= player.discipline
      %td= player.tackling
      %td= player.work_rate
      %td= player.positioning
      %td= player.creativity
      %td= player.technique
      %td= player.instinct
      %td= player.shots
      %td= player.condition
      %td= link_to 'Show', player
      %td= link_to 'Edit', edit_player_path(player)
      %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
