%p#notice= notice

%h2
  %i.glyphicon.glyphicon-user
  = @player.first_name
  = @player.last_name

%p
  %i.glyphicon.glyphicon-star
  %b Team:
  = @player.team.name
%p
  %i.glyphicon.glyphicon-asterisk
  %b Position:
  = @player.position.name
%p
  %i.glyphicon.glyphicon-minus
  %b Birthdate:
  = @player.birthdate
  (
  = @player.current_age
  years old
  )
%p
  %i.glyphicon.glyphicon-usd
  %b Salary:
  = @player.salary

%p
  %i.glyphicon.glyphicon-star-empty
  %b Skills:
  %table.table.table-bordered.table-condensed
    %tr
      %th{:colspan => 2} Mental
      %th{:colspan => 2} Technical
      %th{:colspan => 2} Physical

    %tr
      %td Reflex
      %td= @player.reflex
      %td Handling
      %td= @player.handling
      %td Condition
      %td= @player.condition
    %tr
      %td Discipline
      %td= @player.discipline
      %td Tackling
      %td= @player.tackling
      %td
      %td
    %tr
      %td Work rate
      %td= @player.work_rate
      %td Positioning
      %td= @player.positioning
      %td
      %td
    %tr
      %td Creativity
      %td= @player.creativity
      %td Technique
      %td= @player.technique
      %td
      %td
    %tr
      %td Instinct
      %td= @player.instinct
      %td Shots
      %td= @player.shots
      %td
      %td


= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
