.page-header
  %h1
    %i.glyphicon.glyphicon-user
    = @player.first_name
    = @player.last_name

.panel.panel-primary
  .panel-heading
    %i.glyphicon.glyphicon-user
    Overview
  .panel-body
    .row
      .col-md-6
        %h4
          %i.glyphicon.glyphicon-star
          %b Team:
          = link_to @player.team.name, @player.team
        %h4
          %i.glyphicon.glyphicon-minus
          %b Birthdate:
          = @player.birthdate
          = surround '(', ')' do
            = @player.current_age
            years old
        %h4
          %i.glyphicon.glyphicon-remove
          %b Pause:
          -if @player.injury_pause?
            %i.glyphicon.glyphicon-heart
            Injury
          -elsif @player.cards_pause?
            %i.glyphicon.glyphicon-book
            Cards
          -else
            Nope
      .col-md-6
        %h4
          %i.glyphicon.glyphicon-asterisk
          %b Position:
          = @player.position.name
        %h4
          %i.glyphicon.glyphicon-usd
          %b Salary:
          = @player.salary
        %h4
          %i.glyphicon.glyphicon-text-width
          %b Strength:
          = @player.strength

.panel.panel-primary
  .panel-heading
    %i.glyphicon.glyphicon-star-empty
    Skills:
  %table.table.table-bordered.table-condensed
    %tr
      %th{:colspan => 2} Mental
      %th{:colspan => 2} Technical
      %th{:colspan => 2} Physical

    %tr
      %td Reflex
      %td= @player.reflex / 100
      %td Handling
      %td= @player.handling / 100
      %td Condition
      %td= @player.condition / 100
    %tr
      %td Discipline
      %td= @player.discipline / 100
      %td Tackling
      %td= @player.tackling / 100
      %td
      %td
    %tr
      %td Work rate
      %td= @player.work_rate / 100
      %td Positioning
      %td= @player.positioning / 100
      %td
      %td
    %tr
      %td Creativity
      %td= @player.creativity / 100
      %td Technique
      %td= @player.technique / 100
      %td
      %td
    %tr
      %td Instinct
      %td= @player.instinct / 100
      %td Shots
      %td= @player.shots / 100
      %td
      %td

.panel.panel-primary
  .panel-heading
    %i.glyphicon.glyphicon-camera
    Stats:
  %table.table.table-bordered.table-condensed
    %tr
      %td Goals
      %td= @player.goals
    %tr
      %td Assists
      %td= @player.assists
    %tr
      %td Yellow cards
      %td= @player.yellow_cards
    %tr
      %td Double yellow cards
      %td= @player.double_yellow_cards
    %tr
      %td Red cards
      %td= @player.red_cards
    %tr
      %td Injuries
      %td= @player.injuries