%p#notice= notice

%p
  %b Home score:
  = @match.home_score
%p
  %b Away score:
  = @match.away_score
%p
  %b Date:
  = @match.date
%p
  %b Attendance:
  = @match.attendance
%p
  %b Report:
  = raw @match.report

= link_to 'Edit', edit_match_path(@match)
\|
= link_to 'Back', matches_path
