%p#notice= notice

%p
  %h3
    = succeed ',' do
      =@match.date
    = @match.home.stadium.name
  %b Attendance:
  = @match.attendance

%p
  %h2
    .row
      .col-md-5
        = @match.home.name
      .col-md-2
      .col-md-5
        = @match.away.name
  .row
    .col-md-5
      -if @match.home.logo.present?
        =image_tag @match.home.logo.thumb
      -else
        =image_tag @match.home.logo.default_thumb_url
    .col-md-2.score
      = @match.home_score
      = '-'
      = @match.away_score
    .col-md-5
      -if @match.away.logo.present?
        =image_tag @match.away.logo.thumb
      -else
        =image_tag @match.away.logo.default_thumb_url

%p
  %b Report:
  %table.table.table-bordered.table-condensed
    %tr
      %th Team
      %th Minute
      %th Event

    - @match.match_events.order(:time).each do |event|
      %tr
        %td
          -if event.first_player.team == @match.home
            =image_tag @match.home.logo_micro_path
          -else
            =image_tag @match.away.logo_micro_path
        %td= event.time
        %td= event.description

= link_to 'Edit', edit_match_path(@match)
\|
= link_to 'Back', matches_path
