%p#notice= notice

%p
  %b Type:
  = @match_event.type
%p
  %b Time:
  = @match_event.time
%p
  %b Description:
  = @match_event.description

= link_to 'Edit', edit_match_event_path(@match_event)
\|
= link_to 'Back', match_events_path
