= form_for @red_card do |f|
  - if @red_card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@red_card.errors.count, "error")} prohibited this red_card from being saved:"
      %ul
        - @red_card.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
